{% extends '::base.html.twig' %}
{% block title %}NFQ Lektoriai{% endblock %}
{% block body %}
    <article class="article">
        <br>
        <h1 class="acenter">Lektorių tvarkymas</h1><br>
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <form>
                    <div>
                        <label>Vardas Pavardė</label>
                        <input type="text" value="" class="form-control" />
                    </div>
                    <div>
                        <label>Aktyvus</label>
                        <input type="checkbox"/>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-lg-6">
                <button class="btn-default">Pridėti</button>
            </div>
        </div>

        <br>
        <h3 class="acenter">Lektoriai</h3><br>
        <table class="table table-hover">
            <thead>
            <tr class="table-header">
                <th>Vardas, Pavardė</th>
                <th>Username</th>
                <th>El. paštas</th>
                <th>Aktyvumas</th>
                <th>Paskaitos</th>
            </tr>
            </thead>

            <tbody>
             {% for user in users %}
                <tr>
                    {% for role in user.roles %}
                        {% if role == "ROLE_LECTOR" %}
                            <td>{{ user.name }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>

                            <td>{% if user.enabled %}
                                    aktyvus
                                    {% for item in workshops %}
                                        {% if user.id == item.getLector.getId %}
                                            <td>{{ item.getTitle }}</td>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    neaktyvus
                                {% endif %}
                            </td>

                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>


        <h1 class="acenter">Mentorių tvarkymas</h1><br>
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <form>
                    <div>
                        <label>Vardas Pavardė</label>
                        <input type="text" value="" class="form-control" />
                    </div>
                    <div>
                        <label>Activus</label>
                        <input type="checkbox"/>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-lg-6">
                <button class="btn-default">Pridėti</button>
            </div>
        </div>

        <br>
        <h3 class="acenter">Mentoriai</h3><br>
        <table class="table table-hover">
            <thead>
            <tr class="table-header">
                <th>Vardas, Pavardė</th>
                <th>Username</th>
                <th>El. paštas</th>
                <th>Aktyvumas</th>
                <th>Komanda</th>
            </tr>
            </thead>

            <tbody>
            {% for user in users %}
                <tr>
                    {% for role in user.roles %}
                        {% if role == "ROLE_MENTOR" %}
                            <td>{{ user.name }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>

                            <td>{% if user.enabled %}
                            aktyvus
                            <td>Pavadinimas</td>
                            {#
                            {% for item in team %}
                                {% if user.id == item.getMentorId %}
                                    <td>{{ item.getTitle }}</td>
                            {% endif %}
                            {% endfor %} #}
                        {% else %}
                            neaktyvus
                        {% endif %}
                            </td>

                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </article>
{% endblock %}