{% extends "::base.html.twig" %}

{% block title %}NFQ Pagrindinis{% endblock %}

{% block body %}
    <article class="article admin-overview">
        <div id="academy_chooser">
            <form action="">



                <select name="academy1">
                    {% for academy in academies %}
                    <option value="{{ academy.id }}">{{ academy.name }}</option>
                    {% endfor %}
                </select>
                <select name="academy2">
                    {% for academy in academies %}
                        <option value="{{ academy.id }}">{{ academy.name }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <input type="submit", value="Pasirinkti">
            </form>
        </div>
        <div class="overview_grades">
            <div id="grades" ></div>
            <div id="attendance"></div>
        </div>

    </article>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        /*function getAttendanceWorkshopAverage(workshopId, teams, attendances)
        {
            return
        }
        function getTeamsFromSelectedAcademy(academy, teamsAll)
        {
            var teams = [];
            n = 0;
            for (i = 0; i < teamsAll.length; i++)
            {
                if (teamsAll[i].academy == academy) {
                    teams[n]=teamsAll[i];
                    n++;
                }
            }
            return teams;
        }
        function updateViewData()
        {
            selectedAcademies = $('form').serialize();
            console.log(selectedAcademies);
        }
        function getAcademy(n)
        {
            for (i = 0; i < Academies.length; i++)
            {
                if (Academies[i].id == n)
                {
                    return Academies[i];
                }
            }
            return false;
        }
*/

    </script>
    <script>
        {#var Allteams = JSON.parse({{ teams|raw }});
        console.log(Allteams)#}
        var Academies = {{ academies | json_encode() | raw() }}
        var attendances = {{ attendance | json_encode() | raw() }}
        //document.write(window.teams.toString());
        var academyOneId = {{ academyOneId|json_encode() | raw()}};
        var academyTwoId = {{ academyTwoId|json_encode() | raw()}};
        //var reqiuredTeams = getTeamsFromSelectedAcademy(academyOneId, Allteams);
        var averages = [100, 95, 80, 85, 93, 97,97, 85, 65, 93, 78, 43];




        $(function () {
            Highcharts.chart('attendance', {
                title: {
                    text: 'Paskutinių paskaitų lankomumas',
                    x: -20 //center,
                },
                subtitle: {
                    text: '2016 Rudens semestras',
                    x: -20
                },
                xAxis: {
                    categories: ['11.06', '11.09'],
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#100100100'
                    }]
                },
                yAxis: {
                    title: {
                        text: 'Lankomumas'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#100100100'
                    }],
                    max: 100,
                    min: 0
                },
                chart: {
                    //backgroundColor: '#000000'
                    type: "column"
                },
                tooltip: {
                    valueSuffix: '%'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },

                series: [{
                        name: 'Kaunas',
                        data: [window.averages[0], window.averages[1], window.averages[2], window.averages[3], window.averages[4], window.averages[5]]
                    },
                    {
                        name: 'Vilnius',
                        data: [window.averages[6], window.averages[7], window.averages[8], window.averages[9], window.averages[10], window.averages[11]]
                    }
                ]
            });
        });
    </script>

{% endblock %}
