{% extends "::base.html.twig" %}

{% block title %}NFQ Komandos{% endblock %}

{% block body %}
<article class="article team-create">
    <br>
    <h1 class="acenter">Komandų tvarkymas</h1>
        <br>
        <table class="table">
            <tr>
                <th>Pavadinimas</th>
                <th>Mentorius</th>
                <th>Nariai</th>
            </tr>

            {% for team in teams %}
                <tr>
                    <td>{{ team.id }} {{ team.name }}</td>
                    <td>{{ team.mentor.name }}</td>
                    <td></td>
                    <td>
                        <button  class="btn-default" data-toggle="modal" data-target="#myModal">daugiau</button>
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h2 class="modal-title"><input type="text" value="{{ team.name }}"></h2>
                                    </div>

                                        <p class="modal-title">Mentorius:</p>
                                        <p class="modal-member"><input type="text" value="{{ team.mentor.name }}"></p><br>

                                        <span class="modal-title">Nariai</span>

                                            {% for member in team.members %}
                                                <p class="modal-member"><input type="text" value="{{ member.name }}"></p>
                                            {% endfor %}


                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Išsaugoti</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <br>
                </tr>
                {% for member in team.members %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>{{ member.name }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
</article>
{% endblock %}
