{% extends "::base.html.twig" %}

{% block title %}NFQ Komandos{% endblock %}

{% block body %}
<article class="article team-create">
    <br>
    <h1 class="acenter">Komandų tvarkymas</h1>
        <br>

        <table class="table">
            <tr>
                <th>Pavadinimas</th>
                <th>Mentorius</th>
                <th>Nariai</th>
            </tr>

            {% for team in teams %}
                <tr>
                    <td>{{ team.id }} {{ team.title }}</td>
                    <td> {{ team.mentor }}</td>
                    <td></td>
                    <td>
                        <button class="btn-default" onclick="openModalTeam('{{ team.id }}', '{{ team.title }}','{{ team.mentor }}')">Tvarkyti</button>
                    </td>

                </tr>

                
                {% for student in team.students %}
                    {% for user in users %}
                        {% for id in user.id %}
                            {% if id == student.id%}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>{{ user.name }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span id="close" onclick="closeModalTeam()">×</span>
                <h1 id="modal-team-name"></h1>
            </div>

            <span class="modal-title">Mentorius:</span><br>
            <input type="text" value="+ " class="text-muted" class="modal-member">
            <p id="modal-team-mentor-name" class="modal-member"></p>

            <span class="modal-title">Nariai:</span><br>
            {% for team in teams %}
                {% for member in team.students %}
                    <tr>
                        <td class="modal-member">{{ member.name }}</td><br>
                    </tr>
                {% endfor %}
            {% endfor %}
            <br>
            <div class="modal-footer">
                <input class="btn-default" type="button" onclick="closeModalTeam(),save()"  value="Išsaugoti">
            </div>
        </div>

    </div>


</article>
{% endblock %}
