{% extends "::base.html.twig" %}

{% block title %}NFQ Komandos{% endblock %}

{% block body %}
<article class="article">

    <a class="aa" href="#">&plus;</a>

<br>
    <h1 class="acenter">Komandų informacija</h1><br>
    <table class="table">
        <th>ID</th><th>Nr.</th><th>Pavadinimas</th><th>Mentorius</th><th></th>
        {% for item in teams %}
            <tr>
                <td>{{ item.getId }}</td>
                <td>4</td>
                <td>{{ item.getName }}</td>
                <td>{{ item.getMentor.getName }}</td>

                <!-- a href="show/{{ item.getId }}"-->
                <td>
                    <!-- Trigger/Open The Modal -->
                    <button class="btn-default" id="myBtn">daugiau info</button>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">×</span>
                            <h1>Komandos pavadinimas: {{ item.getName }}</h1>
                            <p>Informacija apie komandukę. </p>
                        </div>

                    </div>

                    <script>

                    </script>
                </td>
            </tr>
            <th>Nariai:</th><th>ID</th>><th>Vardas</th><th></th>
            {% for member in item.getMembers %}
                <tr>
                    <td></td>
                    <td>{{ member.getId }}</td>
                    <td>{{ member.getName }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

</article>

{% endblock %}
