{% extends "::base.html.twig" %}

{% block title %}NFQ Komandos{% endblock %}

{% block body %}
<article class="article">
<br>
    <h1 class="acenter">Komandų informacija</h1><br>
    <table class="table">
        <th>ID</th><th>Nr.</th><th>Pavadinimas</th><th>Mentorius</th><th></th>
        {% for team in teams %}
            <tr>
                <td>{{ team.getId }}</td>
                <td>4</td>
                <td>{{ team.getTitle }}</td>


                <!-- a href="show/{{ team.getId }}"-->
                <td>
                    <!-- Trigger/Open The Modal -->
                    <button class="btn-default" id="myBtn">daugiau info</button>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">×</span>
                            <h1>Komandos pavadinimas: {{ team.getTitle }}</h1>
                            <p>Informacija apie komandukę. </p>
                        </div>

                    </div>
                </td>
            </tr>
            <th>Nariai:</th><th>ID</th>><th>Vardas</th><th></th>
            {% for student in team.getStudents %}
                <tr>
                    <td></td>
                    <td>{{ student.getName }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

</article>

{% endblock %}
