<header class="header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="image-holder" href="/administrator/overview" id="/administrator/overview" onclick="window.location = '/administrator/overview';" >
                            <img src="{{ asset('images/logo.png') }}">
                        </a>
                    {% endif %}
                    {#
                    {% if is_granted('ROLE_LECTOR') %}
                        <a class="image-holder" href="/workshop/attendance" id="/workshop/attendance" onclick="window.location = '/workshop/attendance';" >
                            <img src="{{ asset('images/logo.png') }}">
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_MENTOR') %}
                        <a class="image-holder" href="/aworkshop/table" id="/workshop/table" onclick="window.location = '/workshop/table';" >
                            <img src="{{ asset('images/logo.png') }}">
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_STUDENT') %}
                        <a class="image-holder" href="/workshop/table" id="/workshop/table" onclick="window.location = '/workshop/table';" >
                            <img src="{{ asset('images/logo.png') }}">
                        </a>
                    {% endif %}
                    #}
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="item-a" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Peržiūra<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="item-a"><a href="/administrator/overview">Bendra apžvalga</a></li>
                                    <li class="divider"></li>
                                    <li class="item-a"><a href="/administrator/attendanceOverview">Lankomumo apžvalga</a></li>
                                    <li class="item-a"><a href="/administrator/gradesOverview">Vidurkių apžvalga</a></li>
                                    <li class="item-a"><a href="/administrator/academyCompare">Akademijų palyginimas</a></li>
                                </ul>
                            </li>
                            <li class="item-a" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Tvarkyti<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="item-a"><a href="/team/create">Komandos</a></li>
                                    {#<li class="item-a"><a href="/team/list">Komandos List</a></li>#}
                                    <li class="item-a"><a href="/lectors/create">Lektoriai</a></li>
                                </ul>
                            </li>
                            <li><a class="item-a" href="/workshop/table">Pažymiai</a></li>
                            <li><a class="item-a" href="/workshop/attendance">Lankomumas</a></li>
                            <li><a class="item-a" href="/workshop/list">Paskaitų informacija</a></li>
                        {% endif %}
                        {#
                        {% if is_granted('ROLE_LECTOR') %}
                            <li><a class="item-a" href="/workshop/table">Pažymiai</a></li>
                            <li><a class="item-a" href="/workshop/attendance">Lankomumas</a></li>
                            <li><a class="item-a" href="/workshop/list">Paskaitų informacija</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_MENTOR') %}
                            <li><a class="item-a" href="/workshop/table">Pažymiai</a></li>
                            <li><a class="item-a" href="/workshop/attendance">Lankomumas</a></li>
                            <li><a class="item-a" href="/workshop/list">Paskaitų informacija</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_STUDENT') %}
                            <li><a class="item-a" href="/workshop/table">Pažymiai</a></li>
                            <li><a class="item-a" href="/workshop/attendance">Lankomumas</a></li>
                            <li><a class="item-a" href="/workshop/list">Paskaitų informacija</a></li>
                        {% endif %}
                        #}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="item-a" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="item-a"><a href="#">Profilis</a></li>
                                <li class="divider"></li>
                                <li class="item-a"><a href="/login"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</header>