{% extends "::base.html.twig" %}

{% block title %}NFQ Lankomumas {% endblock %}

{% block body %}
    <article class="article">
        <br>
        <h1 class="acenter">Lankomumas</h1><br>
        <div id="academy_chooser">
            <form action="">
                <select name="academy1" onchange = "this.form.submit()">
                    {%for academy in academies %}
                        {% if academy.id== academyOne %}
                            <option value="{{ academy.id }}">{{ academy.name }}</option>
                        {% endif %}
                    {% endfor %}
                    {%for academy in academies %}
                        {% if academy.id != academyOne %}
                            <option value="{{ academy.id }}">{{ academy.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br><br>
            </form>
        </div>
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
            <th>Studentas / Paskaita</th>
            {% for workshop in workshops %}
                {% if workshop.academy.id == academyOne %}
                    <th width="17%">{{ workshop.title }}</th>
                {% endif %}
            {% endfor %}
            </tr>
            </thead>

            <tbody>

            {% for i in workshops[0].attendance %}
                <tr>
                    {% if workshops[0].academy.id == academyOne %}
                        <td>{{ workshops[0].attendance[loop.index0].student.name }}</td>
                        {% for workshop in workshops %}
                            <td><input type="checkbox" class="js-attendance-submit" id="checkbox" data-attendace={{ workshop.id }} data-user={{ workshop.attendance[loop.parent.loop.index0].student.id }} {% if workshop.attendance[loop.parent.loop.index0].present %}checked{% endif %}>
                                <label for="checkbox"></label></td>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}
