{% extends "::base.html.twig" %}

{% block title %}NFQ Akademija{% endblock %}

{% block body %}
<article class="article user-list">
    <br><h1>Visi akademijos dalyviai</h1><br>

   {# <button class="btn-default" onclick="">Pridėti user</button>#}


    <br>
    <table class="table table-hover">
        <thead>
        <tr class="table-header">
            <th>Vardas, Pavardė</th>
            <th>Username</th>
            <th>El. paštas</th>
            <th>Rolė</th>
            <th>Aktyvumas</th>
        </tr>
        </thead>

        <tbody>
       {# {{ dump(users) }}#}
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td class="to-lowercase">
                {% for role in user.roles %}
                    {{ role }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{% if user.enabled %}
                    aktyvus
                {% else %}
                    neaktyvus
                {% endif %}
            </td>
         </tr>

        {% endfor %}

        </tbody>
    </table>
</article>
{% endblock %}
