{% extends "::base.html.twig" %}

{% block title %}AppBundle:Workshop:list{% endblock %}

{% block body %}
    {% include "::inc/nav.html.twig" %}

<div class="container">
    <article class="article">

        <a href="#">&plus;</a>


        <h1>Paskaitų informacija</h1>
        <table class="table">
            <th>#</th><th>Pavadinimas</th><th>Aprašymas</th><th>Dėstytojas</th><th>Daigiau info</th>
        {% for item in workshops %}
            <tr>
                <td>{{ item.getId }}</td>
                <td>{{ item.getTitle }}</td>
                <td>{{ item.getDescription }}</td>
                <td>{{ item.getLector.getName }}</td>
                <td><a href="show/{{ item.getId }}" target="_blank">daugiau</a></td>

            </tr>
        {% endfor %}
        </table>

    </article>
    </div>


{% endblock %}
