{% extends "::base.html.twig" %}

{% block title %}NFQ Lentelės{% endblock %}

{% block body %}
    <script>
        function save() {
            document.getElementById("mySelect").disabled = false;

        }
    </script>

    <script>
        function openModal(title, description){
            $("#modal-title").html(title);
            $("#modal-description").html(description);
            $("#myModal").css('display', 'block');
        }

        function closeModal(){
            $("#myModal").css('display', 'none');
        }
    </script>

    <div class="container">
        {% include "::inc/navGeras.html.twig" %}

        <article class="article">


            <br>
            <h1 class="acenter">Paskaitų informacija</h1><br>
            <table class="table">
                <th>Nr.</th><th>Pavadinimas</th><th>Aprašymas</th><th>Dėstytojas</th><th></th>
                {% for item in workshops %}
                    <tr>
                        <td>{{ item.getId }}</td>
                        <td>{{ item.getTitle }}</td>
                        <td>{{ item.getDescription }}</td>
                        <td>{{ item.getLector.getName }}</td>
                        <!-- a href="show/{{ item.getId }}"-->
                        <td>
                            <!-- Trigger/Open The Modal -->
                            <button class="btn-default" onclick="openModal('{{ item.getTitle }}', '{{ item.getDescription }}')">Daugiau info</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span id="close" onclick="closeModal()">×</span>
                    <h1 id="modal-title"></h1>

                    <p>Apie paskaitą:</p>
                    <p id="modal-description" class="info-about"></p>
                    <br>
                    <label class="control-label">Pridėti failą</label>
                    <input  class="btn-default" id="mySelect" id="input-1a" type="file" class="file" data-show-preview="false">
                    <br>
                    <input class="btn-default" type="button" onclick="save()"  value="Išsaugoti">
                </div>

            </div>

        </article>
    </div>


{% endblock %}