{% extends "::base.html.twig" %}

{% block title %}NFQ Lentelės{% endblock %}

{% block body %}
<article class="article">
    <br>
    <h1 class="acenter">Paskaitų informacija</h1><br>
    <table class="table">
        <th>Nr.</th><th>Pavadinimas</th><th>Aprašymas</th><th>Dėstytojas</th><th></th>
        {% for item in workshops %}
            <tr>
                <td>{{ item.getId }}</td>
                <td>{{ item.getTitle }}</td>
                <td>{{ item.getDescription }}</td>
                <td>{{ item.getLector.getUsername }}</td>
                <!-- a href="show/{{ item.getId }}"-->
                <td>
                    <!-- Trigger/Open The Modal -->
                    <button class="btn-default" onclick="openModal('{{ item.getTitle }}', '{{ item.getDescription }}')">Daugiau info</button>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span id="close" onclick="">×</span>
                <h1 id="modal-title></h1>
            </div>

            <span class="modal-title">Mentorius:</span><br>
            <input type="text" value="+ " class="text-muted" class="modal-member">
            <p id="modal-team-mentor-name" class="modal-member"></p>

            <span class="modal-title">Nariai:</span><br>
            {% for team in teams %}
                {% for student in team.students %}
                    {% for user in users %}
                        {% if user.id == student.id%}
                            <td>{{ user.name }}</td>
                            <br>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            <br>
            <div class="modal-footer">
                <input class="btn-default" type="button" onclick="closeModalTeam(),save()"  value="Išsaugoti">
            </div>
        </div>

    </div>


    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span id="close" onclick="closeModal()">×</span>
                <h1 id="modal-title"></h1>
            </div>

            <p class="modal-title">Apie paskaitą:</p>
            <p id="modal-description" class="info-about"></p>
            <br>
            <label class="control-label">Pridėti failą</label>
            <input  class="btn-default" id="mySelect" id="input-1a" type="file" class="file" data-show-preview="false">
            <br>
            <div class="modal-footer">
                <input class="btn-default" type="button" onclick="save()"  value="Išsaugoti">

            </div>
        </div>
    </div>
    </div>

</article>
{% endblock %}