{% extends "::base.html.twig" %}

{% block title %}AppBundle:Workshop:list{% endblock %}

{% block body %}
<div class="container">
<h1>Welcome to the Workshop:list page</h1>
    <table class="table">
        <th>#</th><th>Workshop title</th><th>Workshop description</th><th>Lector</th><th>Action</th>
    {% for item in workshops %}
        <tr>
            <td>{{ item.getId }}</td>
            <td>{{ item.getTitle }}</td>
            <td>{{ item.getDescription }}</td>
            <td>{{ item.getLector.getName }}</td>
            <td><a href="show/{{ item.getId }}">details</a></td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}
