{% extends "::base.html.twig" %}

{% block title %}NFQ Lentelės{% endblock %}

{% block body %}
<article class="article">
    <br>
    <h1 class="acenter">Paskaitų informacija</h1><br>
    <table class="table">
        <th>Nr.</th>
        <th>Pavadinimas</th>
        <th>Aprašymas</th>
        <th>Dėstytojas</th>
        <th>Failas</th>
        <th></th>
        {% for item in workshops %}
            <tr>
                <td>{{ item.getId }}</td>
                <td>{{ item.getTitle }}</td>
                <td>{{ item.getDescription }}</td>
                <td>{{ item.getLector.getName }}</td>
                <!-- a href="show/{{ item.getId }}"-->
                <td>
                    <form action="upload.php" method="post" enctype="multipart/form-data">

                        <input type="file" name="fileToUpload" id="fileToUpload">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</article>
{% endblock %}