{% extends "::base.html.twig" %}

{% block title %}NFQ Lentelės{% endblock %}

{% block body %}
    <div class="container">
    <h1>Informacija apie "
        <td>{{ workshop.getTitle }}</td>
        " paskaitą
    </h1>
    <table class="table">
        <th>#</th><th>Workshop title</th><th>Workshop description</th><th>Lector</th>
            <tr>
                <td>{{ workshop.getID }}</td>
                <td>{{ workshop.getTitle }}</td>
                <td>{{ workshop.getDescription }}</td>
                <td>{{ workshop.getLector.getName }}</td>
            </tr>
    </table>
    </div>
{% endblock %}


