{% extends "::base.html.twig" %}

{% block title %}NFQ Lentelės{% endblock %}

{% block body %}

<article class="article workshop-list">
    <div class="form-status-holder"></div>
    <br>
    <h1 class="acenter">Pažymiai</h1><br>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
            <tr class="table-header">
                <th>Vardas \ Paskaita</th>
                {% for workshop in workshops %}
                    <th>{{ workshop.title }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td>
                            <b>{{ team.title }}</b>
                        </td>
                        {% for workshop in workshops %}
                             <td>
                                 <input class="team-input js-team-grade" data-team-name="{{ team.id }}" type="number" min="0" max="10" step="1" maxlength="2" size="2" value="">
                             </td>
                        {% endfor %}
                    </tr>

                    {% for stud in team.students %}
                        <tr>
                            <td>{{ stud.name }}</td>
                            {% for grade in assignment.grades %}
                            <td><input class="one-student-inputt js-team-{{ team.id }}" type="number" min="0" max="10" step="1" maxlength="2" size="2" value="{{ grade.grade }}" ></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                {% endfor %}
            </tbody>
        </table>
    </div>
</article>


    <form action="" method="">
        <input type="text">
        <input type="submit">
        <button>Save</button>
    </form>

{% endblock %}


